[package]
name = "ffmpeg-sidecar"
version = "1.1.2"
edition = "2021"
description = "Wrap a standalone FFmpeg binary in an intuitive Iterator interface."
authors = ["Nathan Babcock <nathan.r.babcock@gmail.com>"]
categories = ["multimedia"]
keywords = ["ffmpeg", "video"]
repository = "https://github.com/nathanbabcock/ffmpeg-sidecar"
readme = "README.md"
license = "MIT"

[lib]
crate-type = ["lib"]

[dependencies]
anyhow = "1.0.79"
