name: Mac M1

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: macos-14
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
      - name: Try auto-download
        run: cargo run --example download_ffmpeg -- ../deps
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --all-targets --all-features --verbose -- --skip lib.rs
